@page "/personedit"
@using BlazorApp2.Data
@using BlazorApp2.Interfaces;
@inject HttpClient Http;
@inject IPersonService PersonService

<h3>PersonEdit</h3>

<div>
    <div class="row">
        <div class="col-md-4">
            <input placeholder="Enter Id" @bind="@idString" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <input placeholder="Enter name" @bind="@nameString" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            <button @onclick="editPerson" class="btn btn-light">submit</button>
        </div>
    </div>
</div>

@code {
    private string idString = "";
    private string nameString = "";
    private int id;

    private void editPerson()
    {
        if (int.TryParse(idString, out id))
        {
            if (nameString != "")
            {
                Person person = new Person(id, nameString);
                PersonService.EditPerson(person);
            }
        }

    }

}


